@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 16px;
  font-family: "Raleway";
  scroll-behavior: smooth;
  background: rgba(173, 216, 230, 0.15);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 0.3rem;
  background-color: #f16856;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn i {
  padding-right: 0.4rem;
}

button:hover {
  background: rgba(241, 104, 86, 0.8);
}

.page-section {
  margin-top: 200px;
  min-height: 100vh;
}

.active {
  border-bottom: 3px solid #f16856;
  color: #f16856;
  transition: 0.3s ease-out;
  padding-bottom: 5px;
}

.container {
  background: rgba(211, 211, 211, 0.5);
}
.container__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__menu-item {
  margin-right: 30px;
  font-weight: 500;
}
.header-btn {
  display: block;
  margin: 5px 10px;
  font-size: 14px;
}
.header-btn:hover {
  opacity: 0.8;
}

.social__list {
  display: flex;
  align-items: center;
}
.social__list-item {
  margin-left: 30px;
  font-size: 30px;
}
.social__list-item i {
  transition: 0.21s;
}
.social__list-item i:hover {
  color: #f16856;
}

.parallax-window {
  width: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero_wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 30%;
}
.hero_text {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}
.hero_text h1 {
  margin: 18px 0;
  font-size: 32px;
  font-weight: 500;
}
.hero_text p {
  margin-bottom: 22px;
}
.hero-btn {
  display: block;
}
.hero-btn:hover {
  opacity: 0.8;
}

.section {
  position: relative;
}
.section-title h2 {
  position: absolute;
  font-size: 150px;
  width: 1000px;
  color: rgba(68, 68, 68, 0.1);
  text-transform: uppercase;
  z-index: -10;
}

.portfolio {
  padding-top: 120px;
}
.portfolio__left-title {
  position: absolute;
  left: -10%;
  top: 100%;
  transform: rotate(-90deg);
}

.aboutMe {
  position: relative;
}
.aboutMe__left-title {
  position: absolute;
  left: 30%;
  bottom: 200px;
}
.aboutMe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.aboutMe__image {
  padding-right: 20px;
}
.aboutMe__image img {
  width: 400px;
  height: 600px;
  object-fit: contain;
}
.aboutMe-title {
  margin: 10px 0;
}
.aboutMe-title h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.aboutMe-title p {
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #222;
}
.aboutMe-title p span {
  font-size: 17px;
  color: #f16856;
}
.aboutMe-info {
  margin: 20px 0;
}
.aboutMe-skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;
}
.aboutMe-skills span {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 16px;
  font-size: 14px;
  letter-spacing: 0.05rem;
  border: 1px solid #f16856;
  border-radius: 4px;
  color: #000;
}
.aboutMe-short {
  padding-top: 16px;
}
.aboutMe-short ul {
  columns: 2;
}
.aboutMe-short ul label {
  margin-right: 15px;
  font-weight: 600;
}
.aboutMe-short ul li {
  margin-bottom: 10px;
}
.aboutMe-short ul li a {
  color: #f16856;
}
.aboutMe-btn {
  display: inline-block;
  align-self: flex-end;
  margin-top: 40px;
  font-size: 13px;
  font-weight: 400;
}

.work-cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex: 0 0 30%;
  height: 275px;
  margin-left: 20px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.card-container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 275px;
  transition: 0.5s;
  backface-visibility: hidden;
  object-fit: cover;
}
.card-content {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 20;
}
.card-content p {
  margin-bottom: 20px;
  font-weight: 500;
}
.card-content a {
  background: black;
  color: #fff;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover .card-container {
  width: 100%;
  background: rgba(241, 104, 86, 0.8);
  z-index: 100;
}
.card:hover img {
  opacity: 0.2;
}
.card:hover .card-content {
  opacity: 1;
}

li.active a {
  color: #f16856;
}

@media (max-width: 1150px) {
  .aboutMe-skills span {
    margin-bottom: 10px;
  }
}
@media (max-width: 1024px) {
  .portfolio__left-title {
    display: none;
  }

  .section-title h2 {
    font-size: 125px;
    width: 501px;
    color: rgba(68, 68, 68, 0.1);
    text-transform: uppercase;
    z-index: -10;
  }

  .aboutMe__wrapper {
    flex-direction: column;
  }
  .aboutMe__left-title {
    position: absolute;
    left: 30%;
    bottom: 300px;
  }
  .aboutMe-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .aboutMe-skills span {
    margin-bottom: 10px;
    flex: -1 0 33%;
  }

  .work-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .card {
    position: relative;
    height: 275px;
    margin-bottom: 60px;
    transition: 0;
  }
  .card-container img {
    opacity: 1;
    transition: 0;
    backface-visibility: visible;
  }
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    translate: 0;
    opacity: 1;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    padding: 10px;
  }
  .card-content p {
    display: none;
  }
  .card-content a {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 40%;
  }
  .card:hover {
    transform: none;
  }
  .card:hover .card-container {
    z-index: -2;
    background: none;
  }
  .card:hover img {
    opacity: 1;
  }

  .header__menu-item {
    margin-right: 20px;
  }
  .header-btn {
    margin-right: 20px;
  }

  .social__list-item {
    margin-left: 20px;
    font-size: 25px;
  }
}
@media (max-width: 620px) {
  .section-title h2 {
    font-size: 60px;
    width: 501px;
    color: rgba(68, 68, 68, 0.1);
    text-transform: uppercase;
    z-index: -10;
  }

  .aboutMe__left-title {
    position: absolute;
    left: 20%;
    bottom: 350px;
  }

  .header-btn {
    margin-right: 20px;
  }
  .header__menu-item {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .work-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  html,
body {
    background: #fff;
  }

  .container__wrapper {
    min-width: 320px;
  }

  .page-section {
    margin-top: 50px;
  }

  .hero {
    width: 100vh;
  }

  .aboutMe {
    width: 100vh;
  }

  .portfolio {
    width: 100vh;
  }
}

/*# sourceMappingURL=style.css.map */
